.coin-root {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.14375;
}
.coin-texture, .coin-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.coin-texture {
    background: url("../images/coin-texture.svg") center center no-repeat;
    background-size: contain;
}
.coin-image {
    position: relative;
    z-index: 2;
    width: 67%;
    height: 67%;
    left: 18%;
    margin-top: 16.5%;
}
.coin-upper, .coin-lower {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 1.5%;
    text-transform: uppercase;
    font-weight: bold;
}
.coin-upper {
    top: 5.25%;
}
.coin-lower {
    bottom: 5.25%;
}